.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 800px;
    gap: 5%;
}

#myBut{
    height: 5%;
    border: 1px solid gray;
    border-radius: 10px;

}

#myImg{
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
}